{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":16,"column":4},"end":{"row":17,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":17,"column":0},"end":{"row":18,"column":0},"action":"insert","lines":["",""],"id":3}],[{"start":{"row":18,"column":0},"end":{"row":19,"column":0},"action":"insert","lines":["config/environment_variables.yml",""],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":19,"column":0},"end":{"row":19,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1506010331704,"hash":"f2e4f5dc3f3960ed1a4614ca84e0c04c8d40fab7"}