<p>Hey Admin(s),</p>
<p>Great News! We got a new subscriber! Please set him/her with Google Sheets!</p>
<p><strong>Name:</strong> <%= @user.first_name + " " + @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p>Thank you.</p>

