<p>Hey Admin(s),</p>
<p>Someone has a question! Please answer ASAP!</p>
<p><strong>Name:</strong> <%= @contact.name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Message:</strong></p>
<p><%= @contact.message %></p>
<br/>
<p>Thank you.</p>