<p>Hey Admin(s),</p>
<p>Bad News! We lost a subscriber!</p>
<h3>Please remove from PayPal ASAP.</h3>
<p><strong>Name:</strong> <%= @user.first_name + " " + @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p>Thank you.</p>