<%= tag :meta, name: "stripe-public-key", content: Rails.application.secrets.stripe_public_key %>
<script src="https://js.stripe.com/v3/"></script>
<div class="row">
  <h1 align="center">Become a Pro!</h1>
  <div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-body panel-padded">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="text-center">Your are subscribing to <strong>Fantasy Phenoms Pro</strong>.</div>
        <p class="text-muted text-center"><small>You will be charged $9.99 USD each month and you can cancel any time.</small></p>
        <br/>
        <%= form_tag subscriptions_path, id: "payment-form" do |form| %>
          <div class="form-row">
            <input name="cardholder-name" class="form-control" value="<%= current_user.first_name + " " + current_user.last_name %>" disabled %>
            <br>
            <div id="card-element" class="form-control" style="color: white">
              <!-- a Stripe Element will be inserted here. -->
            </div>
        
            <!-- Used to display Element errors
            <div id="card-errors" role="alert"></div>-->
          </div>
          
          <br>
          <button type="submit" class="btn btn-success btn-md btn-subscribe">Join Fantasy Phenom!</button>
          
          
        <% end %>
        <a href="https://stripe.com/docs/security/stripe" target="_blank">
          <%= image_tag('logos/stripepayments.png', style: "width: 75%; margin: 10px auto; display:block") %>
        </a>
        <br/>
        <p class="text-center"><small>By subscribing, you agree to the <a target="blank" href="#">privacy policy</a> and <a target="blank" href="#">terms of service</a>.</small></p>
      </div>
    </div>
  </div>
  </div>
</div>


