* {
    font-family: industry, sans-serif;
}
.cke_contents {
    color: #000;
}
body {
    background-color: #000;
}
h1 {
    color: white;
}
.wcolor { color: white;}
.gcolor { color: #3B3B3C;}

.coming-soon {
    margin: 150px 0px;
}

.btn-nav {
    border-radius: 0px;
    margin-right: 4px;
}
#btn-nav-signin {
    border: 2px solid #999;
    color: #999;
}
#btn-nav-signin:hover {
    background: #A59556;
    border-color: #96874f;
    color: #fff;
}
.btn-nav-primary {
    border: 2px solid #fff;
}
#btn-nav-signup:hover {
    background: #449D44;
    border-color: #398439;
}

.navbar-right li a {
    padding: 5px 20px;
    margin-top: 7px;
}

.btn-white {
    color: #fff;
}
.navbar {
    border-bottom: 3px solid #C6B358;
}

.navbar-nav li a {
    font-size: 13px;
}
.nav-gap{
    height: 60px;
}
.industry-main {
    font-weight: 700;
    letter-spacing: 4px;
}

.btn-primary {
    background: #C4B264;
    border-color: #C4B264 ;
}
.btn-primary:hover {
    background: #a59556;
    border-color: #a59556;
}

.btn-dark-line {
    border: 2px white solid;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0px;
    color: white;
    margin: 10px;
    width: 300px;
}

.btn-dark-line:hover {
    border: 2px #ccc solid;
    color: #ccc;
}
.bg-main {
    background-image: image-url("backgrounds/top-background.png");
    height: 530px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}
#join-call-to-action {
    padding: 30px 50px;
    letter-spacing: 5px;
}
#join-call-to-action div {
    background-color: #000;
    padding: 10px;
}
#join-call-to-action div a {
    text-align: center;
    padding: 50px 0px;
    background-color:#c6b358;
    display: block;
    text-decoration: none;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 10px;
    color: black;
}

#join-call-to-action div a:hover {
     background-color:#a09048;
}
.join-text-container {
    background-color: #323233;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}



.divider-grey {
    background-color: #3B3B3C;
    border-top: 3px solid #C6B358;
    border-bottom: 3px solid #C6B358;
}

.img-contact-logos {
    display: block;
    width: 100px;
    margin: 0px auto 10px auto;
}
.contact-input {
    border: 1.5px #c6b358 solid;
    width: 100%;
    padding: 7.5px;
    background-color: black;
    color: white;
    font-weight: 800;
}
.contact-btn {
    width: 96.5%;
    margin: 10px auto;
    display:block;
    font-size: 20px;
    font-weight: 800;
    border: 1.5px #c6b358 solid;
    color: white;
    background-color: #000;
    border-radius: 0px;
}
.contact-btn:hover {
    background-color: #c6b358;
    color: #000;
}

.img-home-logos {
    margin: 20px auto;
    display: block;
    width: 100px;
}
.img-container { 
    position: relative; 
    text-align:center;
    background-color: black;
}



.about-img-container{height: 110px;}
.about-text-container {margin-top: 20px;}
.about-text-container h4.text-right {padding-right: 40px;}
.about-text-container h4.text-left {padding-left: 40px;}
.about-text-container h4 {
    padding-top: 5px;
    font-size: 13px;
}
.about-container{
    margin-top: 165px;
}

.panel-default {
    background-color: #3B3B3C;
    border: 4px solid #323233;
    color: white;
    letter-spacing: 1px;
}
.panel-default .form-control {
    border-radius: 0px;
    background: #323233;
    color: white;
}


.btn-success, .btn-primary {
    background-color: #3B3B3C;
    border-radius: 0px;
    border: 3px solid;
    letter-spacing: 5px;
    font-weight: 700;
}
.article-header {
    border-bottom: 2px solid #C6B358;
    color: #fff
}
.article-most-recent {
    border-bottom: 1px dashed #C6B358;
}
.article-most-recent a {
    text-decoration: none;
    color: #fff;
}
.article-most-recent p {
    font-size: 10px;
    padding-left: 5px;
    margin: 0px;
    color: #767677;
}
.article-most-recent h4 { padding: 5px 0px 0px 5px; margin: 0; }

.article-large {
    color: #fff;
    position: relative;
    border-bottom: 3px solid #C6B358;
}
.article-large img {width: 100%;}
.article-large h2{
    z-index: 2;
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 15px;
}
.article-large .author {
    z-index: 2;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 15px;
}
.article-single-header,
.article-single-header .author div {
    margin-top: 10px;
    color: #fff;
}
.article-single-body {
    margin: 25px 0;
    color: #e5e5e5;
    
}
.article-single-body p {
    line-height: 25px;
    font-size: 1.5rem;
    font-family: Industry;
    letter-spacing: 2px;
}

.article-single-body p:first-child:first-letter,
span #lg-letter {
  color: #C6B358;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.overlay:hover {background-color: rgba(0, 0, 0, 0.2);}
#non-sub {
    position: relative;
    height: 25em;
    overflow: hidden;
}
.shadow {
    position:absolute;
    top:0em;
    width:100%;
    height:25em;
    background: -webkit-linear-gradient(transparent, #000);
    background: -o-linear-gradient(transparent, #000);
    background: -moz-linear-gradient(transparent, #000);
    background: linear-gradient(transparent, #000);
}

.article-panel {padding: 10px 0;}
.article-panel h2 {bottom: 25px; font-size: 2rem;}
.article-panel .author {bottom: 20px;}

.article-view-more {
    padding-top: 10px;
    color: #ccc;
    text-decoration: none;
}

.article-trial {
    background-color: #3B3B3C;
    color: #fff;
    padding: 20px;
}
footer img {width: 100%;}
footer a { 
    font-size: 5rem; 
    color: #fff;
    margin: 25px;
    padding-bottom: 10px;
    display:inline-block;
}
footer a:hover { color: #999; }
@media (min-width: 768px){ // GREATER THAN SM 
    footer a { 
        font-size: 3rem; 
        margin: 0px;
        padding:0px; 
        display:inline;
    }
    footer i { position: absolute; top: 50%; }
    #fb-footer { left: 27.5%; }
    #tw-footer { left: 32.5%; }
    #yt-footer { right: 27.5%; }
    #ig-footer { right: 32.5%; }
} 
@media (min-width: 992px){ // GREATER THAN MD 
    footer a { font-size: 5rem; }
    footer i { position: absolute; top: 50%; }
    #fb-footer { left: 25%; }
    #tw-footer { left: 32.5%; }
    #yt-footer { right: 25%; }
    #ig-footer { right: 32.5%; }
    .about-text-container h4 { font-size: 15px;}
    .navbar-nav li a {font-size: 16px;}
}
@media (min-width: 1500px){
    footer,
    .bg-main {
        max-width: 1500px;
        margin: 0 auto;
    }
}
table {color: #ccc;}
table thead {color: #fff;}